*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;

}
body{
    background-color: #c4c4c4;
}
p{
    padding: 10px 10px;
    background-color: wheat;
    border-radius: 10px;
    border: 2px solid red;
}
span{
    padding: 3px;
    background-color: rgb(78, 87, 134);
    color: white;
    border-radius: 3px;
    margin-right: 10px;
}
img {
    width: 100%;
}
.scroolll{
    height: 700px;
    overflow: auto;
}
::-webkit-scrollbar{
    width: 15px;
   
}
::-webkit-scrollbar-thumb{
    background: #fbfcfc;
    border-radius: 15px;
}
::-webkit-scrollbar-track{
    background-color: wheat;
}
H3{
    font-size: 22px;
    padding: 10px;
    background-color: whitesmoke;
}